@use "../../node_modules/tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f2145;
  --main-color: #3e31fa;
  --gray: #788398;
  --dark-gray: #5e6a83;
  --border-gray: #e1e5ea;
  --hover: rgba(255, 255, 255, 1);
  --form-bg: #edeff2;
  --form-error : #CA024F;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #0f2145;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

.active {
  background: var(--main-color);
  color: #ffffff;
}

.loader {
  width: 15px;
  height: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 .5s infinite linear alternate;
}

img {
  pointer-events: none;
  user-select: none;
}

@keyframes l5 {
  0%  {box-shadow: 20px 0 var(--main-color), -20px 0 #0002;background: var(--main-color) }
  33% {box-shadow: 20px 0 var(--main-color), -20px 0 #0002;background: #0002}
  66% {box-shadow: 20px 0 #0002,-20px 0 var(--main-color); background: #0002}
  100%{box-shadow: 20px 0 #0002,-20px 0 var(--main-color); background: var(--main-color) }
}
